img{
   width: 100%;
   border-radius: 10px;
}

body{
    margin: 0;
    font-family: montserrat;
}

.image-contanier{
    height: 300px;
    margin: 5%;
   

}

h1,{
    font-family: "Prata", serif;
  font-weight: 400;
    font-size: 64px;
    font-weight: 400;
}

h3{
    font-family: "Prata", serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
}

h1,h3{
    margin-bottom: 0;
}
p{
    margin:auto;
}
a{
    font-style: oblique;
    font-weight: 600;
}

h6{
    padding: 22px;
    margin-bottom: 0px;
    margin-top: 56px;
    color: white;
    border-radius: 6px;
    background: linear-gradient(354deg, #99a458, #142627);

}

ul{
    list-style-type: none;
    padding:auto;
    padding-top: 6px;
    padding-bottom: 22px;
    line-break: auto;
    
}

.lista{
    border-bottom: 1px;color: #dfdfdf;
}

a{
    text-decoration: none;
    color: #99a458;
    
}

a:hover{
    color: #142627;
    font-size: 20px;
}

footer{
    
    background-color: black;
    padding: 16px;
    color: white;
    border-radius: 5px;
}